<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Edit Picture Page</h1>
    <form action="/pokemon/<%= pokemon.id %>?_method=PUT" method="POST"> 
		<!--  NOTE: the form is pre-populated with values for the server-->
		Name: <input type="text" name="name" value="<%=pokemon.name%>"/><br/>
		Img: <input type="image" name="image" value="<%=pokemon.image%>"/><br/>
		
		<br/>
		<input type="submit" name="" value="Submit Changes"/>
    </form> 
</body>
</html>