<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>My Pictures</h1>
    <a href="/">Home</a></br></br></br>
    <!-- <a href="/users/profile">Edit Profile</a></br></br></br>  -->
    <nav>
        <a href="/pokemon/new">Post a new Picture</a> 
        <ul class="pokemon">
            <% pokemons.forEach((pokemon) => { %>
                <li><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></br>
                    <a href="/pokemon/<%= pokemon.id %>/edit">Edit</a></br>
                    <form action="/pokemon/<%= pokemon.id %>?_method=DELETE" method="POST"> 
                        <input type="submit" value="DELETE"/>
                    </form>  
                      
                </li>
            <% }) %>        
        
        </ul>
    </nav>
</body>
</html>