<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>New Picture</h1>
    <a href="/">Home</a></br></br>
    <a href="/pokemon">My Pictures</a></br></br>
    <form action="/pokemon" method="POST">
        Name: <input type="text" name="name" /><br/>
        Img: <input type="text" name="img" /><br/>
        <input type="submit" name="" value="Post Picture"/>   
    </form>

</body>
</html>

<!-- <form action="/pokemon" method="POST">
    Date: <input type="date" name="date" /><br/>
    Title: <input type="text" name="name" /><br/>
    Comment: <input type="text" name="name" /><br/>
    Img: <input type="image" id="image" /><br/>
    <input type="submit" name="" value="Post Picture"/>   
</form> -->