<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Photograph Organizer</h1>
    <h3>Download and store your pictures for easy access and updates</h3>
    <!-- add "users/signup" to link to future page -->
    <a href="/users/signup">Sign Up</a></br> 
    <a href="/users/login">Log In</a>
</body>
</html>