<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Log In</h1>
    <a href="/users/index">Home</a></br>
    <form action="/users/login" method="POST">
        Username: <input type="text" name="username"></br>
        Password: <input type="text" name="password"></br>
        <input type="submit" value="Login">
    </form>
</body>
</html>